<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <!-- <td style="width: 150px">
          <img
            src="https://flagcdn.com/w320/cl.png"
            alt="Chile"
            class="w-full h-auto object-cover"
          />
        </td>

        <td style="width: 250px">Chile</td>
        <td style="width: 250px">Santiago</td>
        <td style="width: 250px">20.000.000</td> -->
      </tr>
    </tbody>
  </table>
</section>
