<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
        <tr>
          <td>{{ country.cca2 }}</td>
          <td>
            <img
              class="w-6 h-6 rounded-full"
              src="{{ country.flag }}"
              alt="{{ country.name }}"
            />
          </td>
          <td>{{ country.flagSvg }}</td>
          <td>{{ country.name }}</td>
          <td>{{ country.capital }}</td>
          <td>{{ country.population }}</td>
          <td>
            <a
              class="btn btn-sm btn-primary"
              href="/countries/{{ country.cca2 }}"
            >
              Ver detalles
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
